@model IEnumerable<VideoBinarytoGifBinary.Models.Video>

@{
    ViewData["Title"] = "Videos";
}

<h1>Videos</h1>

<p>
    <a asp-action="UploadVideo">Upload a New Video</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoBase64)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <video width="550" height="320" controls>
                        <source type="video/mp4" src="data:video/mp4;base64,@Html.DisplayFor(modelItem => item.VideoBase64)"/>
                    </video>
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
